@using BookArt.Areas.Admin.Models
@model BookArt.Areas.Admin.Models.PageViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="topPad">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Page.WorkId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.WorkId)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.WorkName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Page.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.Number)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Page.ImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.ImgUrl)
        </dd>

    </dl>

    <div class="form-group ">
        <div class="col-md-offset-2 col-md-10 imgAdm">
            <img alt="Section Cover" src="@Model.Page.ImgUrl" height="110" />
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
