@using BookArt.Areas.Admin.Models
@model BookArt.Areas.Admin.Models.PageViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="topPad">Edit Page</h2>

@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "workForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Page.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.Page.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Page.Id,
                        new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Page.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Page.WorkId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Page.WorkId,
                        new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Page.WorkId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Page.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Page.Number,
                        new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Page.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Page.ImgUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Page.ImgUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Page.ImgUrl, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <input id="addUrl" type="button" value="Add Url" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@*---------------------------------------------------------------------------------------------*@

<div class="form-horizontal">
    <div class="form-group">
        <div class="control-label col-md-2">
            Image
        </div>
        <div class="col-md-3">
            <img alt="Work Cover" src="@Model.Page.ImgUrl" height="110" />
        </div>
        <div class="col-md-7">
            @using (Html.BeginForm("AddCover", "ManagePages", FormMethod.Post,
                new { enctype = "multipart/form-data", @id = "loadImgForm" }))
            {
                <input name="id" id="id" type="hidden" value="@Model.Page.Id">
                <input name="fileToUpload" id="fileToUpload" type="file" class="btn btn-xs btn-primary"><br />
                <input name="submit" id="uploadSubmit" type="submit" value="Save Image" class="btn btn-xs btn-primary">
            }

            @using (Html.BeginForm("DeleteCover", "ManagePages", FormMethod.Post))
            {
                <input name="id" id="id" type="hidden" value="@Model.Page.Id"><br />
                <input name="submitDelete" id="deleteSubmit" type="submit" value="Delete Image"
                       class="btn btn-xs btn-primary">
            }
        </div>
    </div>
</div>




<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit"  form="workForm"  value="Save" class="btn btn-success" />
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
