<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/d3js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminSection")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header menuDelete">
                <a href='@Url.Action("Index", "Home")'>
                    <img class="logo1" src="~/Content/Images/Misc/logo_mini.jpg" alt="logo_mini" width="220" />
                </a>
            </div>

            <div class="navbar-header menuDelete">
                @Html.ActionLink("Головна", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav menuDelete">
                    <li>@Html.ActionLink("Проекти", "Index", "Project", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Про себе", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Написати", "Create", "Feedbacks", new { area = "" }, null)</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 adminDashboard">
                <h4 class="topPad">Dashboard</h4>

                <div>
                    @Html.ActionLink("Адміністративна панель", "Index", "Dashboard")
                </div>
                <div>
                    @Html.ActionLink("- Розділи", "Index", "ManageSections")
                </div>
                <div>
                    @Html.ActionLink("- Роботи", "Index", "ManageWorks")
                </div>
                <div>
                    @Html.ActionLink("- Сторінки", "Index", "ManagePages")
                </div>
                <div>
                    @Html.ActionLink("Зворотній зв'язок", "Index", "ManageFeedbacks")
                </div>
            </div>

            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>

    <p class="footer menuDelete">
        &copy; @DateTime.Now.Year - Дніпро, Україна
    </p>

    @RenderSection("scripts", required: false)
</body>

</html>
