<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@


    <div class="container-fluid wrapper_1">
        <!-- <div class="fon_bg center-block">
            <img src="img/fon_slide1.jpg" class="img-responsive tmp1 center-block" alt="fon_slide1">
        </div> -->

        <div class="charK center-block"></div>

        <div class="container">

            <div class="row">
                <div class="col-xs-offset-6 col-xs-4 tmp text-center cell1_1">
                    <section class="text_1">
                        <!-- <p class='string1_1'>Кость Ткаченко</p> -->
                        <!-- <p class='string2_1'>вільна творча одиниця</p> -->
                        <p class='string1_1'></p>
                        <p class='string2_1'></p>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center tmp cell1_2">
                    <nav class="str_1">
                        <ul>
                            <!-- <li><a href="index_projects.html">проекти</a></li> -->
                            <!-- <li><a href="index_about_yourself.html">про себе</a></li> -->
                            <!-- <li><a href="index_write.html">написати</a></li> -->
                            <li><a id="aProjects" href="index_projects.html"></a></li>
                            <li><a id="aAbout" href="#"></a></li>
                            <li><a id="aWrite" href="#"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center tmp cell1_3">
                    <div class="dart">
                        <!-- <a href="#anchor1"><img src="img/arrow.png" alt="arrow" /></a> -->
                        <a id="aArrow" href="#anchor1"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BookArt</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
