@using BookArt.Areas.Admin.Models
@model BookArt.Areas.Admin.Models.WorkViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="topPad">Редагувати роботу</h2>

@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "workForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Work.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Work.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Work.Id,
                        new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Work.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Work.SectionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Work.SectionId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Work.SectionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectionTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SectionTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SectionTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Work.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Work.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Work.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Work.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Work.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Work.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Work.CoverUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Work.CoverUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Work.CoverUrl, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <input id="addUrl" type="button" value="Додати URL" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@*---------------------------------------------------------------------------------------------*@

<div class="form-horizontal">
    <div class="form-group">
        <div class="control-label col-md-2">            Малюнок
        </div>
        <div class="col-md-3">
            <img alt="Work Cover" src="@Model.Work.CoverUrl" height="110" />
        </div>
        <div class="col-md-7">
            @using (Html.BeginForm("AddCover", "ManageWorks", FormMethod.Post,
                    new { enctype = "multipart/form-data", @id = "loadImgForm" }))
            {
                <input name="id" id="id" type="hidden" value="@Model.Work.Id">
                <input name="fileToUpload" id="fileToUpload" type="file" class="btn btn-xs btn-primary"><br />
                <input name="submit" id="uploadSubmit" type="submit" value="Зберегти малюнок" class="btn btn-xs btn-primary">
            }

            @*@using (Html.BeginForm("DeleteCover", "ManageWorks", FormMethod.Post))
            {
                <input name="id" id="id" type="hidden" value="@Model.Work.Id"><br />
                <input name="submitDelete" id="deleteSubmit" type="submit" value="Delete Image"
                       class="btn btn-xs btn-primary">
            }*@
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            Сторінки
        </div>
        <div class="col-md-10">
            @Html.DropDownList(
                "works",
                Model.Pages as SelectList,
                htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" form="workForm" value="Зберегти" class="btn btn-success" />
    </div>
</div>

<div>
    @Html.ActionLink("Повернутися до переліку", "Index")
</div>
